#heading {
    color: #ff00e1;
}
#headings{
    background-color: blue;
  }
  
  .middle{
      background-color: crimson;
  }
  .big{
      background-color: chartreuse;
  }
  
  .big2{
      background-color: darkgreen;
  }